
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Aidat Takip Dökümasyon</title>
    <meta name="description" content="">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Theme/files/assets/images/favs.png" type="image/png">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>

    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="/Content/HomeTemp/DOC/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="/Content/HomeTemp/DOC/syntax-highlighter/styles/shThemeDefault.css" media="all">

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/Content/HomeTemp/DOC/css/font-awesome.min.css">
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="/Content/HomeTemp/DOC/css/normalize.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="/Content/HomeTemp/DOC/css/main.css">

</head>

<body id="welcome">

    <aside class="left-sidebar">
        <div class="logo">
            <a href="#welcome">
                <h1>Aidat-Takip</h1>
            </a>
        </div>
        <nav class="left-nav">
            <ul id="nav">
                <li class="current"><a href="#welcome">Hoşgeldiniz</a></li>
                <li><a href="#installation">Blok</a></li>
                <li><a href="#tmpl-structure">Daire</a></li>
                <li><a href="#css-structure">Demirbaş</a></li>
                <li><a href="#subscription-form">Etkinlik</a></li>
                <li><a href="#video">Hesap</a></li>
                <li><a href="#credit">Kasa</a></li>
                <li><a href="#person">Personel</a></li>

            </ul>
        </nav>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="content-header">
                    <h1>Aidat-Takip</h1>
                </div>
                <div class="welcome">
                    <h2 class="twenty">Hoşgeldiniz</h2>

                    <p>Öncelikle bizi tercih ettiğiniz için teşekkür ederiz.</p>
                    <p>Amaçlarımızdan birisi sizlere gerçek zamanlı ve her yerde kullanılabilir bir ortam yaratmaktır.Bu yüzden yaptığımız işi sizden aldığımız cesaret ve destek ile daha iyi yapmaya çaba sarf ediyoruz.</p>
                </div>

                <div class="features">
                    <h2 class="twenty">Yazılım Özellikleri</h2>
                    <ul>
                        <li>Blok Yönetimi</li>
                        <li>Daire Yönetimi</li>
                        <li>Demirbaş Yönetimi</li>
                        <li>Etkinlik Oluşturma</li>
                        <li>Hesap Oluşturma</li>
                        <li>Kasa Ekleme</li>
                        <li>Personel İşlemleri</li>
                    </ul>
                </div>

            </section>

            <section id="installation">
                <div class="content-header">
                    <h1>Aidat Takip Dökümasyon</h1>
                </div>
                <h2 class="title">Blok Yönetimi</h2>

                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde blok + yeni blok linkine tıklayın.</li>
                        <li>Blok adını ve daire sayısını girin</li>
                        <li>Daire sayısı bir blok için en fazla <span class="text-danger"> 80</span> olmalıdır. </li>
                        <li>İstediğiniz blogu silmek için sil butonuna tıklayın.</li>
                        <li>Eğer bloga ait borç bilgisi yok ise silinecektir aksi taktirde işlem başarısız olacaktır.</li>
                        <li>Detay butonuna tıklayarak bloga ait dairelere ulaşabilirsiniz.</li>
                    </ol>
                </div>

            </section>

            <section id="tmpl-structure">
                <h2 class="title">Daire Yönetimi</h2>

                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde daire + kullanıcılar linkine tıklayın.</li>
                        <li>Site sakinlerinin sizin tarafınızdan oluşturulan hesapların listesi yer almaktadır.</li>
                        <li>İptal etmek istediğiniz girişler için kullanıcıları silebilirsiniz.</li>
                        <li>Solda menü üzerinde daire + yeni kullanıcı linkine tıklayın.</li>
                        <li>Site sakinine ait blok + daire ve email bilgilerini girin. </li>
                        <li>Girdiğiniz email adresine doğrulama ve şifre belirleme maili gönderilecektir.</li>
                        <li>Site sakini kendisine gelen doğrulama linkini tıkladıktan sonra parolasını belirleyecektir.</li>
                    </ol>
                </div>

            </section>

            <section id="css-structure">
                <h2 class="title">Demirbaş Yönetimi</h2>

                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde demirbaş + yeni demirbaş linkine tıklayın.</li>
                        <li>Demirbaş bilgilerini girdikten sonra kaydet butonuna tıklayın.</li>
                        <li>Solda menü üzerinde demirbaş + demirbaş listesi linkine tıklayın.</li>
                        <li>Demirbaş listesinde demirbaş adına tıklayarak detaylı bilgiye erişebilirsiniz.</li>
                        <li>Solda menü üzerinde demirbaş + teslimat linkine tıklayın.</li>
                        <li>Karşınıza çıkan liste'de teslim edilen demirbaş bilgileri yer almaktadır.</li>
                    </ol>
                </div>
            </section>

            <section id="subscription-form">
                <h2 class="title"> Etkinlik Oluşturma </h2>
                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde etkinlik + yeni etkinlik linkine tıklayın.</li>
                        <li>Etkinlik bilgilerini girdikten sonra kaydet butonuna tıklayın.</li>
                        <li>Girdiğiniz etkinlik site sakinleri tarafından kendi panellerinde listelenecektir.</li>
                        <li>Girdiğiniz etkinlikleri silebilirsiniz.</li>
                    </ol>
                </div>

            </section>

            <section id="person">
                <h2 class="title">Personel İşlemleri</h2>
                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde personel + yeni personel linkine tıklayın.</li>
                        <li>Personel bilgilerini girin.</li>
                        <li>Personelin sorumlu olduğu blogu seçin.</li>
                        <li>Seçilen blok, site sakinleri tarafından görüntülenecektir.</li>
                    </ol>
                </div>
            </section>

            <section id="credit">
                <h2 class="title">Kasa Ekleme</h2>
                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde kasa + yeni kasa linkine tıklayın. </li>
                        <li>Kasa bilgilerini girin.</li>
                        <li>Oluşturduğunuz kasadan sorumlu personeli seçin.</li>
                        <li>Kaydet butonuna tıklayın.</li>
                        <li>Kasa listesi üzerinde silme işlemi yapılabilir.Eğer kasa aktif ise silme başarısız olacaktır.</li>
                    </ol>
                </div>
            </section>

            <section id="video">
                <h2 class="title"> Hesap Oluşturma </h2>
                <div class="section-content">
                    <ol>
                        <li>Solda menü üzerinde hesap + yeni hesap linkine tıklayın.</li>
                        <li>Ekleme yapmak istediğiniz bakiye miktarını girin.</li>
                        <li>Eklemek istediğiniz kasayı seçin.Girdiğiniz bakiye kasaya yansıtılacaktır.</li>
                        <li>İşlem türünüzü seçin.Bakiye gider seçilirse (-) olarak seçilen kasadan düşülecektir.</li>
                        <li>Bakiye gelir seçilirse (+) olarak seçilen kasaya eklenecektir. </li>
                    </ol>
                </div>
            </section>

        </div>
    </div>


    <!-- Essential JavaScript Libraries
        ==============================================-->
    <script type="text/javascript" src="/Content/HomeTemp/DOC/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/js/jquery.nav.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/syntax-highlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all()</script>
    <script type="text/javascript" src="/Content/HomeTemp/DOC/js/custom.js"></script>

</body>
</html>

