
@{
    ViewBag.Title = "Bilgilendirme";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



<section id="home" class="video-hero" style="height: 700px; background-image: url(/Content/HomeTemp/images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
    <div class="overlay"></div>
    <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=vqqt5p0q-eU',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
    <div class="display-t text-center">
        <div class="display-tc">
            <div class="container">
                <div class="col-md-12 col-md-offset-0">
                    <div class="animate-box">
                        <h2>Doğrulama linki e-mail adresinize gönderildi.</h2>
                        <p>lütfen mail adresinizi kontrol edin.</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


