@model AidatPro.Models.BlokModel

@{
    ViewBag.Title = "Yeni Blok";
    ViewBag.Desc = "Aşağıdaki alanlara blok bilgilerinizi girin.";
}



<form id="myForms" class="md-float-material form-material">
    <div class="card">
        <div class="card-header">
            <h5>Yeni blok oluşturun.</h5>
            <span>
                Blok oluşturduktan sonra girdiğiniz daire sayısı kadar daire otomatik eklenecektir.
            </span>

        </div>
        <div class="card-block">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Blok Adı</label>
                <div class="col col-sm-7">
                    <input type="text" name="BlokAd" required="" class="form-control form-control-info f-right" id="txtBlokAd" maxlength="25">


                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Daire Sayısı</label>
                <div class="col col-sm-7">
                    <input type="number" name="DaireSayi" required="" class="form-control form-control-info f-right">
                    <span class="form-bar"></span>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-lg-4"></div>
                <div class="col-md-5 col-sm-5 col-lg-2 col-lg-5">
                    <span onclick="fncKaydet()" class="btn btn-info btn-outline-info w-50 f-right"><i class="icofont icofont-info-square"></i>Kaydet</span>
                </div>
            </div>
        </div>
    </div>
</form>


@Scripts.Render("~/bundles/jquery")


<script>
    $('#txtBlokAd').maxlength();
</script>


<script>
      function fncKaydet() {
            Swal.fire({
                title: "Uyarı",
                text: "Yeni kayıt tamamlandı mı?",
                icon: "warning",
                contentType: "application/json",
                showCancelButton: true,
                closeOnConfirm: false,
                closeOnCancel: false,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Evet",
                confirmButtonColor: "#ec6c62",
                cancelButtonText: "Iptal",
            }).then((result) => {
                if (result.value && $("#myForms").valid()) {
                    $.ajax({
                        url: '@Url.Action("CreateBlok", "Blok")',
                        type: "POST",
                        cache: false,
                        data: $('form').serialize(),
                        traditional: true
                    }).done(function (data) {
                        if (data) {
                            Swal.fire
                                ({
                                    title: "Başarılı!",
                                    text: "Kayıt Eklendi",
                                    icon: "success"
                                }).then(function () {
                                    window.location.href = '/Blok/Blok_Listesi';
                                });
                        }
                        else {
                            Swal.fire("Oops", "Kayıt Eklenemedi", "error");
                        }
                    }).fail(function (data) {
                        Swal.fire("Oops", "Server tarafında hata oluştu.", "error");
                    });
                }
                else {
                    Swal.fire("Oops", "Kayıt Eklenemedi", "error");
                }
            })

        }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#myForms').validate({ // initialize the plugin
            errorClass: 'errors',
            rules: {
                BlokAd: {
                    required: true
                },
                DaireSayi: {
                    required: true,
                    min: 1,
                    max: 80
                }
            }
        });


    });

</script>




